<!-- /views/layouts/master.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex">
    <title>{{.title}} - Sprinter</title>
    <link rel="stylesheet" href="/dist/app.css">
    <link rel="icon" href="/assets/logo.svg">
</head>
<body class="bg-gray-50 min-h-full">
<div class="flex flex-col justify-between min-h-screen">

    <div>
        <main class="container mx-auto mt-12">
            {{template "content" .}}
        </main>
    </div>

    <footer class="mt-16 border-t border-gray-100 py-8 text-sm text-gray-400">
        <div class="container mx-auto text-center flex justify-center space-x-2">
            <span>Sprinter</span>
            <span>·</span>
            <a href="https://github.com/romanzipp/Sprinter" class="underline hover:text-gray-700">GitHub</a>
            <span>·</span>
            <span>MIT License</span>
            <span>·</span>
            <a href="https://ich.wtf" class="underline hover:text-gray-700">Roman Zipp</a>
        </div>
    </footer>

    <script src="/assets/echarts.js"></script>
    {{template "scripts" .}}
</div>
</body>
</html>
