{{define "content"}}

<div class="flex justify-center flex-col md:flex-row">
    <div class="w-full md:w-1/2 px-2 space-y-4">

        <div class="card">
            <h1 class="mb-6 text-2xl">
                Last 24 hours
            </h1>
            <div class="flex w-full">
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl">{{.stats.ChecksLast24Hours}}</div>
                    <div class="text-gray-500 text-sm">Checks</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-green-600">{{.stats.SuccessLast24Hours}}</div>
                    <div class="text-gray-500 text-sm">Success</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-red-600">{{.stats.ErrorLast24Hours}}</div>
                    <div class="text-gray-500 text-sm">Errors</div>
                </div>
            </div>
            <div id="chart-24h" class="mt-6" style="width: 100%; height: 250px;"></div>
        </div>

        <div class="card">
            <h1 class="mb-6 text-2xl">
                Last 7 days
            </h1>
            <div class="flex w-full">
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl">{{.stats.ChecksLast7Days}}</div>
                    <div class="text-gray-500 text-sm">Checks</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-green-600">{{.stats.SuccessLast7Days}}</div>
                    <div class="text-gray-500 text-sm">Success</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-red-600">{{.stats.ErrorLast7Days}}</div>
                    <div class="text-gray-500 text-sm">Errors</div>
                </div>
            </div>
            <div id="chart-7d" class="mt-6" style="width: 100%; height: 250px;"></div>
        </div>
    </div>

    <div class="w-full md:w-1/2 px-2">
        <div class="card">
            <h1 class="mb-6 text-2xl">
                Latest Checks
            </h1>

            <div class="flex space-x-2 mb-6">
                <a class="px-4 py-2 font-semibold text-xs text-gray-600 uppercase transition-colors duration-150 rounded-md {{if eq .filter "all"}}bg-blue-100 hover:bg-blue-200{{else}}bg-gray-100 hover:bg-gray-200{{end}}" href="/">
                    All
                </a>
                <a class="px-4 py-2 font-semibold text-xs text-gray-600 uppercase transition-colors duration-150 rounded-md {{if eq .filter "failed"}}bg-blue-100 hover:bg-blue-200{{else}}bg-gray-100 hover:bg-gray-200{{end}}" href="/?filter=failed">
                    Only failed
                </a>
            </div>

            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Host</th>
                    <th>Latency</th>
                    <th>Packet Loss</th>
                </tr>
                </thead>
                <tbody>
                {{range .checks}}
                <tr class="{{if not .Success}}text-red-500{{end}}">
                    <td>
                        {{.CreatedAt.Format "2006-01-02 15:04"}}
                    </td>
                    <td>
                        <span title="{{.IP}}">{{.Addr}}</span>
                    </td>
                    <td>
                        {{.Latency}}
                    </td>
                    <td>
                        {{.PacketLoss}} %
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>

{{end}}

{{define "scripts"}}

<script defer>
    const chartData = JSON.parse('{{.chart}}');

    const defaultOptions = {
        animationDuration: 500,
        animationEasing: 'quadraticInOut',
        tooltip: {
            trigger: 'axis',
            showContent: true,
        },
        grid: {
            top: 20,
            bottom: 0,
            left: 20,
            right: 20,
            containLabel: true,
            borderWidth: 0,
        },
        legend: {
            show: false,
        },
        xAxis: {
            type: 'time',
            boundaryGap: false,
            axisLine: {show: true},
            axisLabel: {show: true},
            splitLine: {show: false},
            splitArea: {show: false},
        },
        yAxis: {
            type: 'value',
            axisLine: {show: true},
            axisLabel: {show: true},
            splitLine: {show: false},
            splitArea: {show: false},
        },
        series: [
            {
                type: 'line',
                name: 'Latency',
                smooth: false,
                large: true,
                showSymbol: false,
                lineStyle: {
                    width: 1,
                    color: 'rgb(35, 165, 148)',
                },
                areaStyle: {
                    opacity: 0.6,
                    color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                        {offset: 0, color: 'rgb(45, 212, 191)'},
                        {offset: 1, color: 'rgb(20, 184, 166)'},
                    ]),
                },
                emphasis: {
                    focus: 'series',
                },
            },
        ],
    }

    const extractDowntime = (points) => {
        if (!Array.isArray(points)) {
            return [];
        }
        const downtimes = [];

        let lastDownDate = null;
        points.forEach((point, index) => {
            if (point.value === 0 && lastDownDate === null) {
                lastDownDate = point.date;
            }

            if (lastDownDate !== null && (point.value !== 0 || points.length === index + 1)) {
                downtimes.push({
                    from: lastDownDate,
                    to: point.date,
                });
                lastDownDate = null;
            }
        });

        if (downtimes.length === 0) {
            return;
        }

        return {
            itemStyle: {
                color: 'rgba(255, 0, 0, 0.2)',
            },
            data: downtimes.map(item => {
                return [
                    {xAxis: item.from},
                    {xAxis: item.to},
                ]
            })
        };
    };

    const transformData = (points) => {
        if (!Array.isArray(points)) {
            return []
        }

        return points.map(point => [+new Date(point.date), point.value]);
    }

    const chart24h = echarts.init(document.getElementById('chart-24h'));
    chart24h.setOption({
        ...defaultOptions,
        series: [
            {
                ...defaultOptions.series[0],
                data: transformData(chartData['24h']),
                markArea: extractDowntime(chartData['24h'])
            }
        ],
    });

    const chart7d = echarts.init(document.getElementById('chart-7d'));
    chart7d.setOption({
        ...defaultOptions,
        series: [
            {
                ...defaultOptions.series[0],
                data: transformData(chartData['7d']),
                markArea: extractDowntime(chartData['7d'])
            }
        ],
    });
</script>


{{end}}
