{{define "content"}}

<div class="flex justify-center">
    <div class="w-1/2 px-2 space-y-4">

        <div class="card">
            <h1 class="mb-6 text-2xl">
                Last 24 hours
            </h1>
            <div class="flex w-full">
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl">{{.stats.ChecksLast24Hours}}</div>
                    <div class="text-gray-500 text-sm">Checks</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-green-600">{{.stats.SuccessLast24Hours}}</div>
                    <div class="text-gray-500 text-sm">Success</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-red-600">{{.stats.ErrorLast24Hours}}</div>
                    <div class="text-gray-500 text-sm">Errors</div>
                </div>
            </div>
            <div id="chart-24h" class="mt-6" style="width: 100%; height: 250px;"></div>
        </div>

        <div class="card">
            <h1 class="mb-6 text-2xl">
                Last 7 days
            </h1>
            <div class="flex w-full">
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl">{{.stats.ChecksLast7Days}}</div>
                    <div class="text-gray-500 text-sm">Checks</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-green-600">{{.stats.SuccessLast7Days}}</div>
                    <div class="text-gray-500 text-sm">Success</div>
                </div>
                <div class="w-1/3 space-y-2 text-center">
                    <div class="text-4xl text-red-600">{{.stats.ErrorLast7Days}}</div>
                    <div class="text-gray-500 text-sm">Errors</div>
                </div>
            </div>
            <div id="chart-7d" class="mt-6" style="width: 100%; height: 250px;"></div>
        </div>
    </div>

    <div class="w-1/2 px-2">
        <div class="card">
            <h1 class="mb-6 text-2xl">
                Latest Checks
            </h1>

            <table>
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Host</th>
                    <th>Latency</th>
                    <th>Packet Loss</th>
                </tr>
                </thead>
                <tbody>
                {{range .checks}}
                <tr class="{{if not .Success}}text-red-500{{end}}">
                    <td>
                        {{.CreatedAt.Format "2006-01-02 15:04"}}
                    </td>
                    <td>
                        <span title="{{.IP}}">{{.Addr}}</span>
                    </td>
                    <td>
                        {{.Latency}}
                    </td>
                    <td>
                        {{.PacketLoss}} %
                    </td>
                </tr>
                {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>

{{end}}

{{define "scripts"}}

<script defer>
    const chartData = JSON.parse('{{.chart}}');

    const getDowntime = (points) => {
        const downtimes = [];

        let lastDownDate = null;
        points.forEach((point, index) => {
            if (point.value === 0 && lastDownDate === null) {
                lastDownDate = point.date;
            }

            if ((point.value !== 0 && lastDownDate !== null) || points.length === index + 1) {
                downtimes.push({
                    from: lastDownDate,
                    to: point.date,
                });
                lastDownDate = null;
            }
        });

        return downtimes;
    };

    const defaultOptions = {
        animationDuration: 500,
        animationEasing: 'quadraticInOut',
        tooltip: {
            trigger: 'axis',
            showContent: false,
        },
        grid: {
            top: 20,
            bottom: 0,
            left: 20,
            right: 20,
            containLabel: true,
            borderWidth: 0,
        },
        legend: {
            show: false,
        },
        xAxis: {
            type: 'category',
            axisLine: {
                show: true,
            },
            axisLabel: {
                show: true,
            },
            splitLine: {
                show: true,
            },
            splitArea: {
                show: true,
            },
        },
        yAxis: {
            type: 'value',
            axisLine: {
                show: true,
            },
            axisLabel: {
                show: true,
            },
            splitLine: {
                show: true,
            },
            splitArea: {
                show: false,
            },
        },
        series: [
            {
                type: 'line',
                name: 'viewer',
                smooth: true,
                large: true,
                showSymbol: false,
                lineStyle: {
                    width: 0,
                },
                areaStyle: {
                    //opacity: 0.8,
                    //color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    //    { offset: 0, color: 'rgb(45, 212, 191)' },
                    //    { offset: 1, color: 'rgb(20, 184, 166)' },
                    //]),
                },
                emphasis: {
                    focus: 'series',
                },
            },
        ],
    }

    const chart24h = echarts.init(document.getElementById('chart-24h'));
    chart24h.setOption({
        ...defaultOptions,
        xAxis: {
            ...defaultOptions.xAxis,
            data: chartData['24h'].map(check => check.date),
            axisLabel: {
                show: true,
                formatter: (label) => (new Date(label)).toLocaleTimeString(),
            },
        },
        series: [
            {
                ...defaultOptions.series[0],
                data: chartData['24h'].map(check => check.value),
                markArea: {
                    itemStyle: {
                        color: 'rgba(255, 0, 0, 0.4)',
                    },
                    data: getDowntime(chartData['24h']).map(item => {
                        return [
                            {xAxis: item.from},
                            {xAxis: item.to},
                        ]
                    })
                }
            }
        ],
    });

    const chart7d = echarts.init(document.getElementById('chart-7d'));
    chart7d.setOption({
        ...defaultOptions,
        xAxis: {
            ...defaultOptions.xAxis,
            data: chartData['7d'].map(check => check.date),
            axisLabel: {
                show: true,
                formatter: (label) => (new Date(label)).toLocaleDateString(),
            },
        },
        series: [
            {
                ...defaultOptions.series[0],
                data: chartData['7d'].map(check => check.value),
                markArea: {
                    itemStyle: {
                        color: 'rgba(255, 0, 0, 0.4)',
                    },
                    data: getDowntime(chartData['7d']).map(item => {
                        return [
                            {xAxis: item.from},
                            {xAxis: item.to},
                        ]
                    })
                }
            }
        ],
    });
</script>


{{end}}
